.moviesCounter{
    font-weight: bold;
}

#moviesListContainer{
    display: initial;
    padding-top:100px;
}

#moviesCountersContainer{
    text-align:right;
}

#moviesList{
    text-align: left;
}

#moviesList li:hover{
    background-color: yellow;
}